<div class="container">
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <%= message %>
    </div>
  <% end %>
  
  <%= form_with url: login_path, scope: :session, local: true, html: { class: "login_form" } do |form| %>

    <h1 class="login_title">ログイン</h1>

    <div>
      <%= form.email_field :email, placeholder: "email", class: "input_field" %>
    </div>

    <div>
      <%= form.password_field :password, placeholder: "password", class: "input_field" %>
    </div>

    <%= form.submit 'ログイン', class: "button" %>
    
  <% end %>
</div>
