<%= link_to edit_clothing_path(clothing), data: { turbo: false } do %>
    <div class="cloth_img">
      <% if clothing.image.attached? %>
        <%= image_tag clothing.image.variant(resize_to_fill:[200, 300]) %>
      <% else %>
        <p>画像がありません</p>
      <% end %>
  </div>
<% end %>

<div class="cloth_info">
  <h3 class="cloth_name"><%= clothing.name %></h3>
  <p class="cloth_explanation"><%= clothing.explanation%></p>
  <p class="cloth_usage">使用回数: <%= clothing.clothing_usage_logs.count %> 回</p>
</div>

<div class="cloth_btn">
  <%= button_to "+", usage_log_clothing_path(clothing), data: {turbo_method: :post}, class: "cloth_btn cloth_usage_btn" %>
  <%= button_to "−", remove_usage_log_clothing_path(clothing), method: :delete, data: { turbo_method: :delete }, class: "cloth_btn cloth_usage_btn" %>
  <%= link_to "削除", clothing_path(clothing.id), data: { turbo_method: :delete, turbo_confirm: "#{clothing.name}を削除します。よろしいですか？"}, class: "cloth_btn cloth_delete_btn" %>
</div>