<% content_for :header_seach do %>
  <div id="search_toggle" style="cursor: pointer;">
    <%= image_tag('swap_vert_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg', alt: 'sort')%>

  </div>

  <div id="search_form" style="display: none;">
    <%= form_with url: clothings_path, method: :get, local: true do %>
      <%= select_tag :order, options_for_select([
        ['登録順', 'created_at'],
        ['使用回数が多い順', 'usage_desc'],
        ['使用回数が少ない順', 'usage_asc']
      ]), onchange: "this.form.submit()" %>
    <% end %>
  </div>


<% end %>

<%= render "layouts/header" %>

  <div class="cloth_index_container">

    <% @clothings.each do |clothing| %>
      <div class="cloth_card">
        <%= link_to edit_clothing_path(clothing) do %>
          <div class="cloth_img">
            <% if clothing.image.attached? %>
              <%= image_tag clothing.image.variant(resize_to_fill:[200, 300]) %>
            <% else %>
              <p>画像がありません</p>
            <% end %>
        </div>
      <% end %>

      <div class="cloth_info">
        <h3 class="cloth_name"><%= clothing.name %></h3>
        <!-- p class="cloth_category"><%= clothing.category.name%></p-->
        <!-- p class="cloth_brand"><%= clothing.brand.name%></p-->
        <!--p class="cloth_color"><%= clothing.color.name%></p-->
        <p class="cloth_usage">使用回数: <%= clothing.clothing_usage_logs.count %> 回</p>
        <p class="cloth_explanation"><%= clothing.explanation%></p>
      </div>

      <div class="cloth_btn">
        <%= button_to "+", usage_log_clothing_path(clothing), data: {turbo_method: :post}, class: "cloth_btn cloth_usage_btn" %>
        <%= button_to "−", remove_usage_log_clothing_path(clothing), method: :delete, class: "cloth_btn cloth_usage_btn" %>
        <%= link_to "削除", clothing_path(clothing.id), data: { turbo_method: :delete, turbo_confirm: "#{clothing.name}を削除します。よろしいですか？"}, class: "cloth_btn cloth_delete_btn" %>
      </div>
    </div>
  <% end %>

</div>