<%= render "layouts/header" %>

<body>
  <div class="container">
    <%= form_with model: @clothing, url: clothings_path, multipart: true do |form| %>
      
        <div class="upload-container", id="uploadContainer">
          <%= image_tag "cloud_upload_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg", class: "img-upload" %>
          <p>ここにファイルをドラッグ&ドロップ<br>または</p>
          <%= form.file_field :image, accept: "image/*",class: "img-form", id: "imageInput" %>
        </div>

        <div>
          <%= form.text_field :name, placeholder: "name", class: "form_input" %>
        </div>
        
        <div>
          <!-- %= form.text_field :category_id, placeholder: "カテゴリ", class: "form_input" % --> 
          <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: "カテゴリを選択してください" },  { class: "form_select" } %>
        </div>

        <div>
          <%= form.collection_select :color_id, Color.all, :id, :name, { include_blank: "色を選択してください" }, { class: "form_select" } %>
        </div>
        
        <div>
          <button onclick="openModal()" class="modal-open">ブランドを選択してください</button>
          <%= render "shared/brand_modal", brands: Brand.all %>
        </div>
        
        <script>
          function openModal(){
            document.getElementById("modal").classList.remove("hidden")
          }
          function closeModal(){
            document.getElementById("modal").classList.add("hidden")
          }
        </script>


        <div>
          <%= form.text_area :explanation, placeholder: "例：〇〇で購入", class: "form_input" %>
        </div>

        <%= form.submit "登録", class: "button" %>
      
    <% end %>
  </div>
</body>