<div class="profile-container">
  <h2 class="profile-title">パスワード変更</h2>

  <%= form_with model: @user, url: edit_password_user_path, method: :patch, local: true do |f| %>
    <ul class="profile-list">
      <li class="form-group">
        <div class="form-label">
          <%= f.label :current_password, "現在のパスワード" %>
        </div>

        <div class="form-label">
          <%= f.password_field :current_password, required: true %>
        </div>
      </li>

      <li class="form-group">
        <div class="form-label">
          <%= f.label :password, "新しいパスワード" %>
        </div>

        <div class="form-label">
          <%= f.password_field :password, required: true %>
        </div>
      </li>

      <li class="form-group"> 
        <div class="form-label">
          <%= f.label :password_confirmation, "パスワード確認" %>
        </div>
        
        <div class="form-label">
          <%= f.password_field :password_confirmation, required: true %>
        </div>
      </li>

    </ul>

    <div class="form-center">
      <%= f.submit "変更する", class: "submit-btn"%>
    </div>
  <% end %>

  <div>
    <%= link_to "戻る", edit_user_path, class: "back-link" %>
  </div>
</div>
