<div class="container">

  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <%= message %>
    </div>
  <% end %>
  
  <%= form_with model:@user, url: users_path, local: true do |form| %>

  <h1 class="users_title">新規登録</h1>

  <div>
    <%= form.text_field :name, placeholder: "name", class: "input_field" %>
  </div>

  <div>
    <%= form.text_field :email,placeholder: "email", class: "input_field" %>
  </div>

  <div>
    <%= form.password_field :password, placeholder: "password", class: "input_field" %>
  </div>

  <%= form.submit "新規登録", class: "button" %>
  <%= link_to "戻る", :back, class: "btn login_button" %>

  <% end %>
</div>
