<%= render "layouts/header" %>
<div class="container">
  <% flash.each do |key, message| %>
    <div class="flash <%= key %>">
      <%= message %>
    </div>
  <% end %>

  <div>
    <%= pie_chart @use_logs, donut: true, suffix: "回",title: "使用回数"%>
  </div>
  

  <div class="form_btns">
    <%= link_to "一覧",clothings_path, class: "form_btn"%>
    <%= link_to "服を登録する", new_clothing_path, class: "form_btn" %>
  </div>
  

  <%= button_to "ログアウト", logout_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %>
</div>