<%= render "layouts/header" %>
<div class="cloth_index_container">
    <% @clothes.each do |cloth| %>
      <div class="cloth_card">
        <%= link_to edit_clothe_path(cloth) do %>
          <div class="cloth_img">
            <% if cloth.image.attached? %>
              <%= image_tag cloth.image.variant(resize_to_fill:[200, 300]) %>
            <% else %>
              <p>画像がありません</p>
            <% end %>
        </div>
      <% end %>

      <div class="cloth_info">
        <h3 class="cloth_name"><%= cloth.name %></h3>
        <!-- p class="cloth_category"><%= cloth.category.name%></p-->
        <!-- p class="cloth_brand"><%= cloth.brand.name%></p-->
        <!--p class="cloth_color"><%= cloth.color.name%></p-->
        <p class="cloth_explanation"><%= cloth.explanation%></p>
        <p class="cloth_usage">使用回数: <%= cloth.clothing_usage_logs.count %> 回</p>
      </div>

      <div class="cloth_btn">
        <%= button_to "使用", usage_log_clothe_path(cloth), method: :post, class: "cloth_btn cloth_usage_btn" %>
        <%= link_to "削除", clothe_path(cloth.id), data: {turbo_method: :delete, turbo_confirm: "#{cloth.name}を削除します。よろしいですか？"},class: "cloth_btn cloth_delete_btn" %>
      </div>
    </div>
  <% end %>

</div>