<body>
  <% content_for :header_usagedata do %>
    <%= form_with url: graph_path, method: :get, local: true do %>
      <div>
        <label>開始日</label>
        <%= date_field_tag :startdate, params[:startdate]%>
      </div>
    
      <div>
        <label>終了日</label>
        <%= date_field_tag :enddate, params[:enddate] %>
      </div>

      <div>
        <%= submit_tag "グラフを表示" %>
      </div>
      <% end %>
  <% end %>

  <%= render "layouts/header" %>

  <div class="container">
    <div id="chart_container"></div>
    
    <script>
      document.addEventListener("turbo:load", function () {
        let chartContainer = document.getElementById("chart_container");

        let chartData = <%= raw @graph_data.to_json %>;

        if (chartData.length === 0){
          chartContainer.innerHTML = "<p>使用データがありません</p>";
          return;
        }

        chartData.sort((a, b)=> b.y - a.y);

        Highcharts.chart("chart_container", {
          accessibility: { enabled: false },
          chart: { type: "pie" },
          title: { text: "使用回数" },
          series: [{
            name: "使用回数",
            colorByPoint: true,
            data: chartData
          }],
          tooltip: {
            pointFormat: "{series.name}: <b>{point.y}回</b>"
          },
          credits: {
            enabled: false
          }
        });
      });
    </script>

    <div class="form_btns">
      <%= link_to "一覧",clothings_path, class: "form_btn"%>
      <%= link_to "服を登録する", new_clothing_path, class: "form_btn" %>
    </div>

  </div>

</body>