<body>
<div class="main_content">
  <div class="usage_filter">
    <%= form_with url: graph_path, method: :get, local: true do %>
      <label>使用期間を指定してください</label>
      <%= date_field_tag :startdate, params[:startdate] %>
      <label>~</label>
      <%= date_field_tag :enddate, params[:enddate] %>
      <%= submit_tag "グラフを表示", class: "clothing-search-btn"%>
      <%= link_to "リセット", graph_path, class: "reset-btn" %>
    <% end %>
  </div>
</div>


  <%= render "layouts/header" %>

  <div class="graph-container">
    <div id="chart_container"></div>
    
    <script>
      document.addEventListener("turbo:load", function () {
        let chartContainer = document.getElementById("chart_container");

        let chartData = <%= raw @graph_data.to_json %>;

        if (chartData.length === 0){
          chartContainer.innerHTML = "<p>使用データがありません</p>";
          return;
        }

        chartData.sort((a, b)=> b.y - a.y);

        Highcharts.chart("chart_container", {
          accessibility: { enabled: false },
          chart: { type: "pie"},
          title: { text: "使用回数" },
          series: [{
            name: "使用回数",
            colorByPoint: true,
            data: chartData
          }],
          tooltip: {
            pointFormat: "{series.name}: <b>{point.y}回</b>"
          },
          credits: {
            enabled: false
          }
        });
      });
    </script>

    <div class="form_btns">
      <%= link_to "一覧",clothings_path, class: "form_btn"%>
      <%= link_to "服を登録する", new_clothing_path, class: "form_btn" %>
    </div>

  </div>

</body>