<header class="site_header">
  <div class="header_logo">Onkuro</div>

    <!-- 検索・絞り込み・並び替え用 -->
    <%= yield :header_seach %>

    <nav class="nav">
      <ul class="nav_wrapper">
        <li><%= link_to image_tag('home_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg', alt: 'home', class: "nav_item"), home_path%></li>
        <li><%= link_to image_tag('pie_chart_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg', alt: 'graph', class: "nav_item"), graph_path%></li>
        <li><%= link_to image_tag('apparel_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg', alt: 'cloth', class: "nav_item"), new_clothing_path%></li>
        <li><%= link_to image_tag('door_sliding_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg', alt: 'door', class: "nav_item"), clothings_path%></li>
        <li><%= link_to image_tag('pin_drop_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg', alt: 'pin', class: "nav_item"), maps_path%></li>
        <li><%= link_to image_tag('settings_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg', alt: 'setting', class: "nav_item"), edit_user_path(current_user)%></li>
      </ul>
    </nav>
</header>


